@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e0eae8;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-inicial {
  width: 500px;
}

.pagina-inicial {
  display: -ms-flexbox;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.barcode-text {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 48px;
  color: #521e3d;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  text-align: center;
}

.btn {
  padding: 5px 10px;
  font-size: 09px;
  border: none;
  background-color: #521e3d;

  color: #eaf2ea;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #521e3d;
}

.pagina-Portifolio header {
  padding: 20px 30px;
  background-color: #e0eae8;
}

.logo {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 36px;
  font-weight: 500;
  color: #521e3d;
  text-align: center;
  width: 150px;
}

.logo a {
  text-decoration: none;
  color: #521e3d;
}

.logo div {
  width: 100px;
}

.card {
  width: 200px;
  background: #521e3d;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: grid;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  font-size: 24px;
  color: #f4f9f1;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 2px #e0eae8;
}


.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);

}


.pagina-vendas {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100vh;
  flex-direction: center;
  gap: 20px;
  padding: 40px;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;

}

.container-vendas .btn {
  width: 100px;
}



main {
  padding: 40px 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  max-width: 960px;
  margin: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.entrar {
  width: 100%;
}

.entrar button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #521e3d;
  color: white;
  cursor: pointer;
}

.entrar input {
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 4px;
  margin: 8px 0;
  box-sizing: border-box
}

.coluna-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 8px 0;
}

.w-100 {
  width: 100%;
}

.btn-row {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
  margin-right: auto;
  gap: 10px;
}

.w-80 {
  width: 80%;

}


.pagina-Portifolio header {
  background-color: #521e3d;

}

header img.logo-image {
  height: 100px;
}

.pagina-cadastro {
  display: grid ;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 50px;
  padding: 80px;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;

}

.container-cadastro.btn {
  width: 200px;
}

.container-cadastro {
  width: 300px;
}

.container-vendas {
  width: 300px;
}

.pagina-cadastro header {
  background-color: #521e3d;
}

.pagina-cashback {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;

}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
}

.cliente-nome {
  font-size: 1.2em;
  color: #521e3d;
  margin-bottom: 10px;
}

.cashback-valor {
  font-size: 2.5em;
  color: #521e3d;
  font-weight: bold;
  margin-bottom: 15px;
}

.expira-em {
  font-size: 1.1em;
  color: #521e3d;
  margin-bottom: 25px;
}

.barra-expiracao {
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 20px;
  overflow: hidden;
  margin: 25px 0;
}

.progresso {
  background-color: #521e3d;
  height: 50%;
  width: 50%;
  /* porcentagem do tempo restante */
  transition: width 0.5s;
}

.botao-usar {
  background-color: #521e3d;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-usar:hover {
  background-color: #239a55;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 15px;
  font-size: 0.9em;
  color: #521e3d;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 15px;
  font-size: 0.9em;
  color: #521e3d;
}

h1 {
  display: block;
  color: #521e3d;
}

.status-container {
  display: flex block;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;

}

.status-step {
  position: relative;
  width: 150px;
  padding: 20px;
  background-color: #521e3d; 
  border: 2px solid #521e3d; 
  border-radius: 10px;
  transition: 0.3s;
  font-family: #521e3d;
}

.status-step.active {
  border-color: #521e3d;
  background-color: #521e3d;
}

.status-step::after {
  content: '' #521e3d;
  position: absolute;
  top: 50%;
  right: -30px;
  width: 30px;
  height: 3px;
  background-color: #521e3d;
  transform: translateY(-50%);
}

.status-step:last-child::after {
  display: none;
}

.status-step.active::after {
  background-color: #521e3d;
}

.status-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.pagamento-opcao {
      display: flex;
      align-items: center;
      border: 2px solid #521e3d;
      border-radius: 12px;
      padding: 15px;
      margin-bottom: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .pagamento-opcao:hover {
      background-color: #521e3d;
    }

    .pagamento-opcao img {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }

    .pagamento-opcao input[type="radio"] {
      margin-right: 10px;
      accent-color: #521e3d;
      transform: scale(1.2);
    }

    .botao-pagar {
      display: block;
      width: 100%;
      background-color: #521e3d;
      color: white;
      border: none;
      padding: 15px;
      border-radius: 10px;
      font-size: 1.1em;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 20px;
    }

    .botao-pagar:hover {
      background-color: #e0e0eae8;
      ;
    }

    .centralizar-horizontal {
      display: flex;
      justify-content: center;
    }